<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260008666200-117mf9l1hk0t0nrnbaprpaoev33h0n2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260008666200-117mf9l1hk0t0nrnbaprpaoev33h0n2m</string>
	<key>API_KEY</key>
	<string>AIzaSyA7j8lkEotX5t7Z2juGGwYgnmyh4g7Cncw</string>
	<key>GCM_SENDER_ID</key>
	<string>260008666200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reebonz.app</string>
	<key>PROJECT_ID</key>
	<string>firebase-reebonzios</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-flexdayios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260008666200:ios:709e88053cb43c62c6562d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-reebonzios.firebaseio.com</string>
</dict>
</plist>
